# Python Virtual Environment
venv/

# Node.js Dependencies
node_modules/

# Mac OS files
.DS_Store

# IDE and Editor files
.vscode/
.idea/

# npm and build output
build/
dist/
package-lock.json
npm-debug.log